<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Progressbar</title>
</head>
<body>
    <div id="app">
        <div class="content">
            <progress class="progress is-warning" :value="array.length" :max="count"></progress>
            <p>{{ length }}</p>
            <div class="columns">
                <div class="column has-text-centered">
                    <button @click="setElement()" class="button is-primary" :disabled="isFull">Добавить</button>
                </div>
                <div class="column has-text-centered">
                    <button @click="clear()" class="button is-danger is-light">Очистить</button>
                </div>
            </div>
            <p v-if="isFull">В массиве уже более {{ count }} элементов</p>
            <div class="field">
                <div class="control">
                  <input class="input is-primary" type="number" v-model="count" placeholder="Введите число">
                </div>
              </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>